.a{
    background-color: black;
    text-align: center;
}


.clock{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 8px;
}

.text1{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 8px;
}

.text2{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 8px;
    margin-right: 100px;
    margin-left: 100px;
}

img {
    margin-top: 120px;
    width: 17%;
}
